*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.container-fluit{
    display: flex;
    flex-direction: column-reverse;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
}

.container{
    width: 40%;
}
.content{
    height: 150px;
    width: 150px;
    background-color: aliceblue;
}

.contact{
    height: 700px;
    margin-top: 15px;
    background-color: rgb(125, 86, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form{
    height: 600px;
    width: 40%;
    padding-top: 20px;
    background-color: antiquewhite;
    box-shadow: 0 0 20px 0 rgb(252, 251, 251);
}

.input-field{
    margin-top: 5px;
    margin-left: 60px;
}

.input-field-1{
    align-items: center;
    height: 50px;
    width: 500px;
    margin-top: 5px;
    margin-left: 60px;
    border: 1px solid aqua;
    border-radius: 5px;
    padding: 10px;
}

.textarea-field{
    height: 100px;
}

.btn{
    border: 2px solid red;
    border-radius: 10px;
    background-color: greenyellow;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 5px;
    margin-left: 70px;
}
